html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

:root {
    --dark: #1565c0;
    --main: #1976d2;
    --light: #42a5f5;
    --error-dark: #c62828;
    --error-main: #d32f2f;
    --error-light: #ef5350;
}