@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.root {
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: var(--main);
    border-radius: 50%;
    animation: rotate infinite 1s linear;
}